---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h1>Impress</h1>
  <p>Responsible for content according to (german) § 5 TMG:</p>

  <div class="bg-stone-200 p-4 rounded my-4">
    <canvas id="impress"></canvas>
  </div>
  <h1>Privacy / Cookies</h1>
  <p>
    This page does not use cookies to track visitors. I use <a
      href="https://plausible.io">plausible.io</a
    > to track usage. Plausible does not use cookies und and does not collect personal
    data.
  </p>
  <ul>
    <li>
      <a href="https://plausible.io/privacy-focused-web-analytics">Blog post</a>
      about privacy guidelines of Plausible.io
    </li>
    <li>
      <a href="https://plausible.io/popup-books.knappi.org/"
        >The public tracking dashboard</a
      > shows the collected data.
    </li>
  </ul>

  <h2>GitHub Pages Service</h2>

  <p>
    This Website is hosted as a Gitlab Pages website. Gitlab may collect User
    Personal Information from visitors to this Gitlab Pages website, including
    logs of visitor IP addresses, to comply with legal obligations, and to
    maintain the security and integrity of this Website and the Service. See the <a
      href="https://about.gitlab.com/privacy/">Gitlab Privacy Statement</a
    > for details.
  </p>

  <h2>Source code / bug reports</h2>

  <p>
    The source-code of this app is hosted on GitHub at
    <a href="https://gitlab.com/nknapp/popup-books" title="Gitlab repository"
      >https://gitlab.com/nknapp/popup-books</a
    >
    For bug reports, please open issues there, or contact me via the mail from the
    impress. Please <strong>do not</strong> call me via phone because of bugs.
  </p>

  <script>
    import { createImpress } from "../../utils/impressed";

    const canvas = document.getElementById("impress") as HTMLCanvasElement;
    createImpress(canvas);
  </script>
</DefaultLayout>
