---
import Home from "../layouts/Home.astro";
import Card from "../components/Card.astro";
import Cards from "../components/Cards.astro";
import {IconYouTube} from "../components/icons"
import {FunnelTeaser} from "../components/organisms/VolcanoFunnel";
---

<Home title="Popup-book maths">
  <div class="flex flex-col justify-center items-center gap-10">
    <h1 class="text-[7vw] font-bold">
      <span class="text-[7vw]">Pop-up Maths</span
      >
    </h1>
    <Cards>
      <Card title="The Pop-up channel" href="https://www.youtube.com/@thepop-upchannel4919">
        <IconYouTube slot="icon"/>
        If you want to learn how to create popups, you should watch the youtube
        channel "The Pop-up Channel" by Duncan Birmingham is the best source of
        information.
      </Card>
      <Card title="Volcans and Funnels" href="/volcans-and-flowers">
        <IconYouTube slot="icon "/>
        <FunnelTeaser />
      </Card>
    </Cards>
  </div>
</Home>
