---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li class="border p-2 bg-stone-700 hover:bg-stone-600 shadow-orange-300 transition-colors rounded-2xl ">
  <a href={href}>
    <h2 class="mb-4 text-xl font-bold text-orange-300 flex gap-2 truncate items-center">
      <span class="w-30">
        <slot name="icon" />
      </span>
      <span>{title}</span>
    </h2>
    <p class="leading-7">
      <slot />
    </p>
  </a>
</li>
<style>
  div svg {
    height: 100%;
    width: 100%;
  }
</style>
