---
import BaseLayout from "./BaseLayout.astro";
import { IconArrowLeft } from "../components/icons";
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="bg-stone-700">
    <div class="h-10 max-w-3xl mx-auto p-2">
      <a href="/" class="flex items-center gap-2 text-orange-400 h-full"
        ><span><IconArrowLeft class="fill-current" /></span><span>Back</span></a
      >
    </div>
  </div>
  <div class="p-2 max-w-3xl mx-auto">
    <slot />
  </div>
</BaseLayout>

<style is:global>
  h1 {
    @apply text-3xl font-bold mb-3 mt-4;
  }

  h2 {
    @apply text-2xl font-bold mb-3 mt-4;
  }

  ul {
    @apply my-2;
  }

  li {
    @apply ml-4;
  }

  .katex-display {
    @apply m-10 overflow-x-auto;
  }
  .katex {
    @apply m-2;
  }

  a {
    @apply underline underline-offset-2 text-orange-200 hover:bg-stone-700 p-1
  }
</style>
