---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline defer data-domain="popup-books.knappi.org" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="bg-stone-800 text-stone-200">
    <slot />
    <footer class="fixed bottom-0 left-0 right-0 p-2 bg-stone-900 z-10 flex justify-between items-center text-sm sm:text-base">
      <span>(c) Nils Knappmeier, 2024</span> <a href="/about">Impress / Privacy</a>
    </footer>
  </body>
</html>
